#content {
    margin-top: 5em;
}

.line {
    border: 0;
    height: 0.75em;
    background: #c66;
    clear: both;
    border-radius: 0.25em;
    max-width: 1000px;
}

.btn {
    color: #fff;
    background-color: #666;
    border-color: #666;
}

#rating-result .col-md-4 .display-3 {
    margin-bottom: 0;
}

#rating-result .col-md-4 h4 {
    color: rgb(168, 168, 168);
    padding-right: 7.5px;
}

#rating:hover > span:before {
    color: orange!important;
}

#rating > span:hover ~ span:before {
    color: black!important;
}

.checked {
    color: orange;
}



