body,html {
    overflow: visible;
    min-height: 100%;
    overflow-x:initial;
}

.title {
    height:97vh;
    background-color: #c66;
}

svg.intro {
    max-width: 800px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 30px 50px -20px #222;
}

.go .text {
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    display: block;
}

.go .text-stroke {
    fill: none;
    stroke: #ccc;
    stroke-width: 2.8px;
    stroke-dashoffset: -900;
    stroke-dasharray: 900;
    stroke-linecap: butt;
    stroke-linejoin: round;
    animation: dash 0.8s ease-in-out forwards;
}

.go .text-stroke:nth-child(2) {
    animation-delay: .3s;
}
.go .text-stroke:nth-child(3) {
    animation-delay: .8s;
}
.go .text-stroke:nth-child(4) {
    animation-delay: 1.1s;
}
.go .text-stroke-2 {
    stroke: #222;
    animation-delay: 1.3s;
}
.go .text-stroke:nth-child(6) {
    animation-delay: 1.6s;
}
.go .text-stroke:nth-child(7) {
    animation-delay: 1.8s;
}
.go .text-stroke:nth-child(8) {
    animation-delay: 2.2s;
}

@keyframes dash {
    100% {
        stroke-dashoffset: 0;
    }
}


.invite-scroll {
    padding-top: calc(95vh - 100px);
    text-align:center;
}

.invite-scroll div {
    font-size: 1.6em;
}

h1 {
    margin:1em;
}

.france,.greece,.spain {
    justify-content: center;
    align-items: center;
}

.france .circle, .greece .circle, .spain .circle {
    text-align: center;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    color: #fff;
    line-height: 15vw;
    background: #666;
    flex: 0 0 0;
    margin: auto;
}

@media only screen and (max-width: 700px) {
  .france .circle, .greece .circle, .spain .circle {
    font-size: medium;
  }
}

@media screen and (max-width: 1150px) and (min-width: 700px) {
  .france .circle, .greece .circle, .spain .circle {
    font-size: xx-large;
  }
}

.france>div:after,.greece>div:after,.spain>div:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -12.5vw;
    border-left: 2px dotted #666;
    transform: translate(-50%);
}

.line {
    border: 0;
    height: 0.75em;
    background: #c66;
    clear: both;
    border-radius: 0.25em;
    margin: auto;
    width: 70%;
    margin-top: 5.5em;
    margin-bottom: 5.5em;
}

.carleton {
    width: 70%;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 2.5em;
}

.container {
    position: relative;
    width: 50%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    color: black;
}

@media only screen and (min-width: 1440px) {
    .text {
        font-size: x-large;
    }
}

@media only screen and (max-width: 1440px) {
    .text {
        font-size: medium;
    }
}
