body {
    font-family: "Circular Book", sans-serif;
}

.project {
    width: 55%;
    margin: auto;
    margin-top: 3em;
}

.card {
    border: 0.60em solid #666;
}

.card-title .navbar-brand {
    color: #c66;
    font-size: 2rem;
}

.project:nth-child(4) {
    margin-bottom: 2em;
}
