#background {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#greeting-container {
  margin-top: 20px;
}

#background div{
    overflow-x: auto;
    overflow-y: hidden;
}

#background div p{
    overflow: hidden;
    display:inline-block;
    width:60%;
}
