body {
    font-family: "Circular Book", sans-serif;
    font-weight: normal;
    font-style: normal;
}

#background {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.photo img {
    border-radius: 0.55em;
    display: block;
    max-width: 600px;
    width: 100%;
    margin:auto;
    background: #666;
    border: 0.60em solid #666;
}

#intro {
    max-width:600px;
    margin:auto;
}

#intro p:nth-child(2) {
    font-size:xx-large;
}

#background .facts {
    overflow-x: auto;
    overflow-y: hidden;
}

#background .facts p {
    overflow: hidden;
    display:inline-block;
    width:60%;
}

.line {
    border: 0;
    height: 0.75em;
    background: #c66;
    clear: both;
    border-radius: 0.25em;
    max-width: 1000px;
}

.border1 {
    border-right:  3px dotted#666; 
}

.border2 {
    border-left: 3px dotted #666;
    right: 3px;
}

.links {
    max-width:600px;
    margin:auto;
}

.links .col-6 a {
    color: #c66;
}

#greeting-container {
    margin-top: 20px;
}
